<body>
  @if(overlay){
    <div class="row col-8">
  <div class="">
    <div class="card">
      <div class="card-header bg-primary">
        Update Student
      </div>
      <div class="card-body">
        <form [formGroup]="studentForm">
          <div class="row">
            <label for="" class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control" />
          </div>
          <div class="row">
            <label for="">Year</label>
            <input type="text" formControlName="year" class="form-control" />
          </div>
          <div class="row">
            <label for="">Age</label>
            <input type="number" formControlName="age" class="form-control" />
          </div>
          <div class="row pt-2">
            <button class="btn btn-danger mb-2" (click)="closeOverlay()">Cancel</button>
            <button class="btn btn-success" (click)="updateStudent(this.overlayId)" [disabled]="studentForm.invalid">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  }
  @else{
  <div class="row container pt-4">
    <div class="col-8">
      <h2>Student List</h2>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Age</th>
            <th>Student ID</th>
            <th>Update/Delete</th>
          </tr>
        </thead>
        <tbody>
          @for (student of studentList; track $index) {
          <tr>
            <td>{{student.name}}</td>
            <td>{{student.year}}</td>
            <td>{{student.age}}</td>
            <td>{{student.studentId}}</td>
            <td>
              <div class="btn-group">

                <button type="button" class="btn btn-primary" (click)="showOverlay(student)">Update</button>
                <button type="button" class="btn btn-danger" (click)="deleteStudent(student.studentId)">Delete</button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="col-4 pt-4">
      <div class="card">
        <div class="card-header bg-primary">
          Add Student
        </div>
        <div class="card-body">
          <form [formGroup]="studentForm">
            <div class="row">
              <label for="" class="form-label">Name</label>
              <input type="text" formControlName="name" class="form-control" />
            </div>
            <div class="row">
              <label for="">Year</label>
              <input type="text" formControlName="year" class="form-control" />
            </div>
            <div class="row">
              <label for="">Age</label>
              <input type="number" formControlName="age" class="form-control" />
            </div>
            <div class="row pt-2 mt-4">
              <button class="btn btn-success" (click)="submitStudent()" [disabled]="studentForm.invalid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  }
</body>